body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
#windows {
  height: 395px;
  width: 320px;
  margin-top: 150px;
}

#status-bar {
  width: 320px;
}

#calBox {
  height: 400px;
  width: 300px;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* margin: 50px auto; */
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255, 0.4);
  margin-right: 10px;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.screen input {
  width: 100%;
  border: none;
  font-size: 24px;
  text-align: right;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.number {
  background-color: #eee;
}

.operator {
  background-color: #ff9800;
  color: #fff;
}
