body {
  caret-color: #ffffff;
  color: #272341;
}

#todoList {
  bottom: 0;
  text-align: left;
  max-width: 400px;
  margin: auto;
  /* background: linear-gradient(135deg, #abbaab, #ffffff);
  background: linear-gradient(135deg, #70e1f5, #ffd194);
  background: linear-gradient(135deg, #dad299, #b0dab9); */
  background-color: rgba(27, 35, 37, 0.7);

  border-radius: 30px;
}

.main__title {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.main__title h1 {
  margin-bottom: 5px;
}

.input__section {
  margin: auto;
}

.input__section form {
  margin: 0px 70px 5px 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 5px 30px;
  margin-bottom: 3px;
  margin-left: -10px;
  color: white;
  background: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}

*:focus {
  outline: none;
}

.input__button {
  background-color: transparent;
  font-size: 35px;
  line-height: 60px;
  margin-left: 5px;
  color: white;
  border: 0;
}

.item__list {
  height: 500px; /* set a fixed height */
  overflow: scroll; /* make overflow content scrollable */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 60px;
  /* border-bottom: 1px solid #ffffff; */
  border-radius: 5px;
  background: transparent;
  font-size: 18px;
  transition: 0.3s;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

ul li:hover {
  background: #ddd;
  color: black;
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
  align-items: center;
  text-align: center;
  margin: 8px 60px;
  padding: 4px 8px;
  border: none;
  background: rgba(255, 255, 255, 0);
}
.close:hover {
  background: linear-gradient(135deg, #02aab0, #00cdac);
  border-radius: 100%;
  color: rgb(0, 0, 0);
}

ul li.checked {
  background: #ddd;
  color: #272341;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #272341;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 13px;
  left: 28px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  #todolist {
    max-width: 100%;
  }

  .input__section form {
    margin: 0px 30px 5px 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .item {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #fbe7c6;
    padding: 0px 30px;
  }

  .close {
    position: absolute;
    align-items: center;
    text-align: center;
    margin: 8px 15px;
    padding: 4px 8px;
    border: none;
    background: rgba(255, 255, 255, 0);
  }
}
